body, p {
    padding: 0px;
    margin: 0px;

    overflow: hidden;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.main_page {
    background: url(../../resources/img/main_bg.png) 70% 35% no-repeat;
    background-size: 102%;
    height: 100vh;

    color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_page__header {
    user-select: none;

    display: flex;
    justify-content: space-between;
}

.main_page__logo {
    font-size: 5vh;

    background: linear-gradient(15deg, #8F00FF 40%, #FF5E03 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-left: 2vw;
}

.main_page__autorization {
    display: flex;
    padding-right: 2vw;
}

.autorization_item {
    background-color: rgb(182, 65, 225);
    padding: 7px 20px;

    border: rgb(182, 65, 225) solid 3px;
    border-radius: 5px;

    margin: auto 10px;
}

.autorization_item:hover {
    cursor: pointer;

    background-color: rgb(137, 13, 182);
    border: rgb(137, 13, 182) solid 3px;
    transition: 0.1s;
}

.main_page__button {
    padding-left: 100px;
}

.go_films {
    width: 50px;
    height: 50px;
}

.main_page__button {
    margin: 0 auto;
    padding: 1.2%;

    display: flex;
    flex-direction: column;
}

.main_page__button p {
    font-size: 14px;
    padding-top: 3px;
    user-select: none;
}

.go_films {
    margin: 0 auto;
    padding: 5px;
}

.go_films:hover {
    cursor: pointer;
}

/**** Catalog ****/

.catalog {
    height: 100vh;
    
    background: linear-gradient(45deg, #160f0b, #5b0f67, #0a0549);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    -o-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
.catalog__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog__button p {
    user-select: none;
    color: aliceblue;
    margin: 0 auto;
}

.catalog__button img {
    transform: rotate(180deg);
    padding: 5px 0 15px 0;
}

.Swiper {
    margin-top: 10vh;
    height: 70vh;
    transform: rotate(15deg);
}

.Swiper_item {
    padding-top: 5vh;
    padding-right: 0.5vw;

    color: aliceblue;
    width: 65vh;

    user-select: none;
}

.about_us {
    width: 28vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 2vh;
}

.about_us__title {
    font-size: 5vh;

    background: linear-gradient(20deg, #8F00FF 17%, #FF5E03 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Swiper_item img {
    transition: 0.3s;

    width: 65vh;
    height: 45vh;

    margin: 50px 0;

    position: relative;
    z-index: -1;
}

.Swiper_item_info {
    position: absolute;
    z-index: 1;

    top: 12vh;
    left: -3vh;
    width: 65vh;

    transform: rotate(-15deg);
    opacity: 0;
}

.Swiper_active_item_info {
    position: absolute;

    opacity: 1;
    transition: 0.5s;

    left: 0vh;
    top: 7.7vh;

    height: 45vh;

    top: 11vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Swiper_item_info h3 {
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
}

.age_control {
    font-size: 4vh;
    display: flex;
    justify-content: center;

    height: 15vh;
    padding-top: 1.5vh;

    position: relative;
}

.age_control::before {
    content: "";
    position: absolute;

    top: 0vh; 
    left: 28.5vh;

    width: 7vh;
    height: 7vh;

    border: 3px solid aliceblue;
    border-radius: 100%;

    z-index: 2;
}

.check_film {
    display: flex;
    justify-content: center;

    text-align: center;
}

.check_film p{
    width: 20vh;
    padding: 1vh 0;
    margin-bottom: 3vh;

    background-color: rgb(182, 65, 225);
    border: rgb(182, 65, 225) solid 3px;
    border-radius: 5px;
    transition: 0.1s;    
}

.check_film p:hover{
    cursor: pointer;

    background-color: rgb(137, 13, 182);
    border: rgb(137, 13, 182) solid 3px;
    transition: 0.1s;  
}

.Swiper_item:first-child .about_us{
    padding-top: 20vh;
    padding-left: 2vw;

    transform: rotate(-15deg);
}

.active_slide img{
    transition: 0.3s;

    transform: rotate(-15deg);
    width: 65vh;
    height: 45vh;

    margin-top: 55px;

    filter: brightness(40%)
}
