// Общие стили
$default-font-family: Montserrat, 'sans-serif';
$default-button-color: #452DD7;
$default-button-text-color: #FFFFFF;

// Переменные для стилей страницы администрирования

$button-background: #452DD7;
$button-br: 15px;
$button-text-fs: 3rem;